@import url(ios.css);
@import url(flex.css);
@import url(styles.css);
body {
    -webkit-font-smoothing: antialiased;
}

.app-container,
#mainLayout {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.page .navbar-inner {
    display: none;
}

