<div class="views toolbar-fixed">
  <div class="view view-main active">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding">Yotako</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="pages navbar-through"></div>
  </div>

</div>
