<div class="page-content">
  <div class="navbar-inner">
    <div class="left">
      <a href="/" class="link back icon-only">
        <i class="icon icon-back"></i>
      </a>
    </div>
    <div class="center">Yotako</div>
  </div>

  <!-- The following code is automatically managed by the framework. -->
  <!-- Your modifications will be pushed back to the mockups. -->

  <!-- VS PAGE_CONTENT BEGIN -->
  <!-- VS PAGE_CONTENT END -->

</div>
